/* global rules */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #fdebbc;
}

@media (min-width: 1200px) {
  .container-fluid {
    padding: 0 70px;
  }
}

.hero {
  background-image: url(../imgs/hero.png);
  height: 926px;
  background-size: contain;
  background-repeat: no-repeat;
}
@media (max-width: 991px) {
  .hero {
    height: auto;
    background-size: cover;
    padding-bottom: 24px;
  }
}

/*nav*/
.navbar {
  padding: 76px 0;
}
@media (max-width: 991px) {
  .navbar {
    padding: 15px;
  }
}
.navbar .navbar-brand {
  -webkit-margin-end: 64px;
          margin-inline-end: 64px;
}
@media (max-width: 767px) {
  .navbar .navbar-brand img {
    width: 110px;
  }
}
.navbar .navbar-nav .nav-item .nav-link {
  color: #000;
  font-weight: bold;
  font-size: 19px;
  padding: 0;
  -webkit-margin-end: 40px;
          margin-inline-end: 40px;
}
@media (max-width: 991px) {
  .navbar .navbar-nav .nav-item .nav-link {
    padding: 0.5rem;
  }
}
.navbar .sign_in {
  display: inline-block;
  color: #371900;
  font-weight: bold;
  border: 3px solid #371900;
  padding: 9px 34px;
  border-radius: 20px;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  transition: 0.3s all ease-in-out;
}
@media (min-width: 1200px) {
  .navbar .sign_in {
    -webkit-margin-end: 100px;
            margin-inline-end: 100px;
  }
}
.navbar .sign_in:hover {
  background-color: #371900;
  color: #fff;
}

.hero_content {
  padding-top: 52px;
}
@media (max-width: 575px) {
  .hero_content {
    padding-top: 24px;
  }
}
.hero_content h1 {
  color: #371900;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 15px;
  font-weight: bold;
}
@media (max-width: 575px) {
  .hero_content h1 {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 8px;
  }
}
.hero_content span {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #371900;
  margin-bottom: 8px;
  display: inline-block;
}
@media (max-width: 575px) {
  .hero_content span {
    font-size: 22px;
    line-height: 32px;
  }
}
.hero_content p {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #371900;
  margin-bottom: 40px;
  width: 587px;
  max-width: 100%;
}
@media (max-width: 575px) {
  .hero_content p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 28px;
  }
}
.hero_content a {
  padding: 16px 51px;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #371900;
  border: 2px solid #371900;
  border-radius: 20px;
  display: inline-flex;
}
@media (max-width: 575px) {
  .hero_content a {
    padding: 8px 32px;
    font-size: 16px;
  }
}

/*about*/
.about {
  height: 658px;
  background-image: url(../imgs/about_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 991px) {
  .about {
    height: auto;
    padding: 24px 0;
  }
}
.about .about_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about .about_content .head {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .about .about_content .head {
    margin-bottom: 24px;
  }
  .about .about_content .head img {
    width: 65px;
  }
}
.about .about_content .head h2 {
  font-size: 50px;
  line-height: 61px;
  color: #371900;
}
.about .about_content .head h2 span {
  display: block;
  color: rgba(55, 25, 0, 0.5019607843);
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 4px;
}
@media (max-width: 767px) {
  .about .about_content .head h2 {
    font-size: 24px;
    line-height: 34px;
    margin: 0;
  }
  .about .about_content .head h2 span {
    font-size: 20px;
    line-height: 30px;
    margin: 0;
  }
}
.about .about_content p {
  font-size: 32px;
  line-height: 39px;
  color: #371900;
  margin-bottom: 72px;
}
@media (max-width: 767px) {
  .about .about_content p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 28px;
  }
}
.about .about_content a {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
  background-color: #371900;
  padding: 9px 36px;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
}
@media (max-width: 767px) {
  .about .about_content a {
    font-size: 14px;
    line-height: 26px;
    padding: 8px 24px;
  }
}

.separator img {
  transform: translate(400px, -150px);
}
@media (max-width: 991px) {
  .separator {
    display: none;
  }
}

.golas {
  background-image: url(../imgs/goals_bg.png);
  margin-top: -81px;
}
@media (max-width: 991px) {
  .golas {
    margin: 0;
    padding: 24px 0;
  }
}
.golas .about_content p {
  margin-bottom: 32px;
}

/*services*/
.services {
  background-image: none;
  margin-top: -100px;
}
.services .about_content .head {
  gap: 16px;
}
.services .about_content p {
  margin-bottom: 40px;
}
.services .about_content ul li {
  gap: 18px;
  margin-bottom: 18px;
}
@media (max-width: 767px) {
  .services .about_content ul li img {
    width: 30px;
  }
}
.services .about_content ul li span {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #371900;
}
@media (max-width: 767px) {
  .services .about_content ul li span {
    font-size: 14px;
    line-height: 24px;
  }
}

.feeds {
  padding-top: 44px;
}
.feeds .sep_img {
  margin-bottom: 40px;
}
.feeds .content h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #371900;
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .feeds .content h2 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 16px;
  }
}
.feeds .content p {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #371900;
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .feeds .content p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
  }
}
.feeds .owl-carousel {
  margin-bottom: 156px;
}
@media (max-width: 767px) {
  .feeds .owl-carousel {
    margin-bottom: 40px;
  }
}
.feeds .owl-item {
  padding: 24px;
}
@media (max-width: 1200px) {
  .feeds .owl-item {
    padding: 8px;
  }
}
.feeds .owl-next,
.feeds .owl-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 1200px) {
  .feeds .owl-next,
.feeds .owl-prev {
    display: none;
  }
}
.feeds .owl-next {
  right: -30px;
}
.feeds .owl-prev {
  left: -30px;
}

.newsletter {
  background-image: url(../imgs/nwesletter.png);
  padding: 45px 0 55px;
  color: #fff;
  position: relative;
}
@media (max-width: 991px) {
  .newsletter {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.newsletter::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.12);
  z-index: 2;
}
.newsletter .content {
  position: relative;
  z-index: 3;
}
.newsletter .content h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  margin-bottom: 8px;
}
@media (max-width: 767px) {
  .newsletter .content h2 {
    font-size: 24px;
    line-height: 34px;
  }
}
.newsletter .content p {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .newsletter .content p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
  }
}
.newsletter form {
  position: relative;
  z-index: 4;
}
.newsletter form input {
  height: 72px;
  background-color: #fdebbc;
  border: none;
  outline: none;
  border-radius: 10px 0 0 10px;
  width: 560px;
  padding: 0 16px;
}
@media (max-width: 767px) {
  .newsletter form input {
    height: 40px;
    font-size: 16px;
    width: unset;
    flex: 1;
  }
}
.newsletter form button {
  height: 72px;
  border: none;
  padding: 0;
  width: 210px;
  margin-left: -4px;
  border-radius: 0 10px 10px 0;
  background-color: #371900;
  color: rgba(255, 255, 255, 0.5);
  font-size: 30px;
  font-weight: bold;
}
@media (max-width: 767px) {
  .newsletter form button {
    height: 40px;
    font-size: 16px;
    width: unset;
    flex: 0.5;
  }
}

.contact_us {
  position: relative;
  z-index: 10;
}
.contact_us .sep_img {
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .contact_us .sep_img {
    margin-bottom: 36px;
  }
}
.contact_us .head {
  margin-bottom: 64px;
  gap: 8px;
}
@media (max-width: 767px) {
  .contact_us .head {
    margin-bottom: 32px;
  }
}
@media (max-width: 767px) {
  .contact_us .head img {
    width: 65px;
  }
}
.contact_us .head h2 {
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  color: #371900;
}
.contact_us .head h2 span {
  color: rgba(55, 25, 0, 0.5019607843);
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
}
@media (max-width: 767px) {
  .contact_us .head h2 {
    font-size: 24px;
    line-height: 34px;
  }
  .contact_us .head h2 span {
    font-size: 20px;
    line-height: 30px;
  }
}
.contact_us h3 {
  gap: 6px;
  margin-bottom: 64px;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: #f9a51a;
}
@media (max-width: 767px) {
  .contact_us h3 {
    margin-bottom: 28px;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
  }
}
.contact_us .address_info .address_item {
  gap: 16px;
  margin-bottom: 45px;
}
.contact_us .address_info .address_item h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #371900;
  margin: 0;
  text-transform: uppercase;
}
.contact_us .address_info .address_item span {
  color: #371900;
}
@media (max-width: 767px) {
  .contact_us .address_info .address_item span br {
    display: none;
  }
}
.contact_us .contact_wrapper form input,
.contact_us .contact_wrapper form textarea {
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 16px;
  border: 1px solid rgba(55, 25, 0, 0.3019607843);
  background-color: #fdf3d0;
  border-radius: 6px;
}
.contact_us .contact_wrapper form input::-moz-placeholder, .contact_us .contact_wrapper form textarea::-moz-placeholder {
  font-size: 14px;
  color: #828282;
}
.contact_us .contact_wrapper form input:-ms-input-placeholder, .contact_us .contact_wrapper form textarea:-ms-input-placeholder {
  font-size: 14px;
  color: #828282;
}
.contact_us .contact_wrapper form input::placeholder,
.contact_us .contact_wrapper form textarea::placeholder {
  font-size: 14px;
  color: #828282;
}
.contact_us .contact_wrapper form textarea {
  height: 120px;
  resize: none;
  margin-bottom: 36px;
}
.contact_us .contact_wrapper form button {
  padding: 12px 78px;
  border: 3px solid #371900;
  color: #371900;
  border-radius: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  outline: none;
  background-color: transparent;
}
@media (max-width: 767px) {
  .contact_us .contact_wrapper form button {
    padding: 8px 32px;
  }
}
.contact_us .work_hours {
  background-color: rgba(55, 25, 0, 0.1019607843);
  padding: 36px 16px;
  margin: 41px 0px 0;
}
@media (max-width: 991px) {
  .contact_us .work_hours {
    padding: 24px 0;
  }
}
.contact_us .work_hours .hours_wrapper {
  gap: 18px;
}
@media (max-width: 991px) {
  .contact_us .work_hours .hours_wrapper {
    margin-bottom: 24px;
  }
  .contact_us .work_hours .hours_wrapper img {
    width: 30px;
  }
}
.contact_us .work_hours .hours_wrapper h6 {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0em;
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .contact_us .work_hours .hours_wrapper span {
    font-size: 16px;
  }
}

footer {
  position: relative;
  padding: 73px 0 0;
  z-index: 2;
}
@media (max-width: 767px) {
  footer .footer_logo {
    width: 200px;
  }
}
footer .social {
  gap: 24px;
  -webkit-margin-start: 24px;
          margin-inline-start: 24px;
  margin-top: 26px;
  position: relative;
  z-index: 15;
}
footer .social .social_icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 3px solid #371900;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  footer .social .social_icon {
    width: 30px;
    height: 30px;
  }
  footer .social .social_icon img {
    width: 15px;
  }
}
footer .footer_links {
  margin-top: 100px;
  gap: 45px;
  position: relative;
  z-index: 15;
}
@media (max-width: 767px) {
  footer .footer_links {
    margin-top: 36px;
  }
}
footer .footer_links .links h5 {
  color: #a21f1b;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  footer .footer_links .links h5 {
    font-size: 18px;
  }
}
footer .footer_links .links a {
  display: block;
  color: #000000;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  margin-bottom: 20px;
  text-decoration: none;
}
@media (max-width: 767px) {
  footer .footer_links .links a {
    font-size: 14px;
  }
}
footer .footer_image {
  margin-top: 75px;
}
footer .copyrights {
  position: absolute;
  bottom: 24px;
  right: 0;
  text-align: center;
  font-weight: 400;
  font-size: 19px;
  line-height: 23px;
  color: #000;
  width: 100%;
  z-index: 20;
}
@media (max-width: 767px) {
  footer .copyrights {
    font-size: 12px;
  }
}
footer .copyrights .website {
  text-decoration: underline;
  color: #000;
}
footer .copyrights .privacy {
  font-weight: bold;
  text-decoration: underline;
  color: #000;
}
footer .footer_big_bg {
  position: absolute;
  bottom: 16%;
  left: 0;
  z-index: 1;
  width: 100%;
}/*# sourceMappingURL=style.css.map */